.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}